body {
  margin-top: 70px;
}

code.character {
  border-radius: 5px;
  color: #eee;
  font-weight: 600;
  background-color: #337ab7;
  text-decoration: underline;
  line-height: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
}
